* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



label {
    cursor: pointer;
}

header {
    position: sticky;
    top: 0;
    background-color: rgba(0, 0, 0, 0.3);
    height: 10vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.titulo {
    color: rgb(0, 0, 0);
    margin: 0%;
}
#hand {
    display: flex;
    align-items: center;
    justify-content: center;
}
.buttons {
    display: flex;
    align-items: center;
    justify-content: center;
}
#tijeras , #piedra , #papel{
    display: none;
}